
h1{color:#383e41;font-family:cursive;font-size:250%;text-align:center}

.container{background-color:#f4e4ad; color:  #383e41; text-align:center;padding:5px;border-radius:10px}

.divisor{border:1px solid #383e41;margin:10px 0}

.menu {background-color:#ffffff;color:#383e41;padding:20px 30px 20px 30px;font-family:cursive;text-align:center}

.pie-pagina {background-color:#f4e4ad ;color: #383e41;padding: 40px 20px 10px 20px;font-family: cursive ;text-align: center;}

.estilos {background-color: #f4e4ad;color: #383e41;padding: 40px 20px 10px 20px;font-family: cursive;text-align:center;}

.galeria {background-color: rgb(255, 255, 255);color: #383e41;padding: 30px 15px 10px 20px;font-family: cursive;text-align:center;}

.frase {background-color: #ffffff;color: #383e41;padding: 40px 20px 10px 20px;font-family: cursive;text-align:center; background-color: rgba(121, 114, 114, 0.4)}

