* {margin: 0;padding: 0;box-sizing: border-box;}

    body {font-family: 'Inter', sans-serif;display: flex; min-height: 100vh; background: #fdfdf8;}

    .content-section {flex: 1;padding: 60px 40px;color: #002241;}

    h1 {font-size: 36px;font-weight: 800;margin-bottom: 10px;}

    .year {font-size: 18px;margin-bottom: 30px;color: #444;}

    .content-section p {font-size: 18px;line-height: 1.6;margin-bottom: 20px;}

    .dropcap::first-letter {font-size: 50px;font-weight: 800;float: left;line-height: 1;padding-right: 5px;color: #002241;}

    strong {font-weight: 800;}

    em {font-style: italic;}
    
    .contenedor {display: flex;align-items: flex-start;gap: 20px;}

   .contenedor img {width: 500px;height: 800px;}

   .texto {max-width: 600px}




 